html { 
  font-size:100%; 
}

body{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 233, 206);
}

.Header{
  max-height: 400px;
  background-image: url("img/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;

}

.HeaderText{
  position: relative;
  padding: 15% 0 10%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

}

.Navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0; 
}

.Navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

}

.AboutMe {
  margin: 15px;
}

.AboutMe h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.projects{
  margin: 15px;
}

.projects h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.Skills{
  margin: 15px;
}

.Skills h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.Skills img{
  margin: 20px;
  width: 50px;
  height: 50px;
  transition: transform .2s;
}

.Skills img:hover{
  transform: scale(1.5);
}

.dark-mode {
  background-color: rgb(42, 49, 58);
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode h1{
  text-shadow: 1px 1px 4px rgba(242, 227, 227, 0.5);
}

.dark-mode h4{
  text-shadow: 1px 1px 4px rgba(242, 227, 227, 0.5);
}

.btn {
  margin: 5px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.Contact{
  margin-left: 15px;
}

.Contact img{
  margin-bottom: 20px;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  transition: transform .2s;
}

.Contact img:hover{
  transform: scale(1.5);
}

.Contact a{
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
  bottom: 20px;
}

.Contact h4{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.Contact h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 800px) {
  body {
    font-size:1.2rem;
  }
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  body {
    font-size:1rem;
  }
  .Navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .Navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .Navigation li:last-of-type a {
    border-bottom: none;
  }
}