html { 
  font-size:100%; 
}

body{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 233, 206);
}

#Header{
  max-height: 400px;
  background-image: url("img/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;

}

#HeaderText{
  position: relative;
  padding: 15% 0 10%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

}

#Navigation{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0; 
}

#Navigation a{
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

}

#Navigation a:hover{
  background-color: #aecef4;
}

#AboutMe{
  margin: 15px;
}

#AboutMe h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#Projects{
  margin: 15px;
}

#Projects h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#Skills{
  margin: 15px;
}

#Skills h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#Skills img{
  margin: 20px;
  width: 50px;
  height: 50px;
  transition: transform .2s;
  justify-content: space-around;
}

#Skills img:hover{
  transform: scale(1.5);
}


#Certificates{
  margin: 15px;
}

#Certificates h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#Certificates img{
  width: 250px;
  height: 200px;
  margin: 20px;
  transition: transform .2s;
}

#Certificates img:hover{
  transform: scale(1.1);
}

.Dark-mode {
  background-color: rgb(42, 49, 58);
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.Dark-mode h1{
  text-shadow: 1px 1px 4px rgba(242, 227, 227, 0.5);
}

.Dark-mode h4{
  text-shadow: 1px 1px 4px rgba(242, 227, 227, 0.5);
}

#Btn {
  margin: 5px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

#Contact{
  margin-left: 15px;
}

#Contact img{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  transition: transform .2s;
}

#Contact img:hover{
  transform: scale(1.5);
}

#Contact a{
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
  bottom: 20px;
}

#Contact h4{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#Contact h1{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#ContactList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0; 
}

#ContactList a {
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
  bottom: 20px;
}

@media all and (max-width: 900px) {
  body {
    font-size:1.2rem;
  }
  #Navigation {
    justify-content: space-around;
  }
  #Skills img{
    justify-content: space-around;
  }
}

@media all and (max-width: 850px) {
  body {
    font-size:1rem; 
  }
  iframe {
    width: 560px; 
    height: 315px;
  }
  #Navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  #Navigation a { 
    text-align: center; 
    padding: 10px; 
  }
  #Navigation li a {
    border-bottom: none;
  }

  #Navigation li img{
    justify-content: center; 
  }

  #Skills img{
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  iframe {
    width: 373px; 
    height: 210px;
  }
}

/*MODAL*/
/* The Modal (background) */
#MyModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.Modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#Caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.Modal-content, #Caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.Close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.Close:hover,
.Close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}